<div class="full-container">
    <div class="peers fxw-nw pos-r">
        <app-contact-list (onChangeConversation)="onChangeConversation($event)"></app-contact-list>

        <div class="peer peer-greed" id='chat-box'>
            <app-conversation (onCloseConversation)="onChangeConversation($event)" *ngIf="contact"
                              [contact]="contact"></app-conversation>
            <app-clean-conversation *ngIf="!contact"></app-clean-conversation>
        </div>
    </div>
</div>
