<div class="container-fluid bg-branco">
    <div class="row">
        <div class="col" role="main">
            <div class="error">
                <div class="error__text">
                    <h1 class="error__title">401</h1>
                    <h2 class="error__subtitle">Opa! Você não tem acesso a esta página.</h2>
                    <p>Se você precisa de acesso a essa página, entre em contato com seu superior.</p>
                    <p><a class="btn ps-btn-primary" href="./index.html">Ir para Página Inicial</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
