<div class="layers bd bgc-white p-20">
    <div class="layer w-100 mB-10">
        <h6 class="lh-1">Total Page Views</h6>
    </div>

    <div class="layer w-100">
        <div class="peers ai-sb fxw-nw">
            <div class="peer peer-greed">
                <app-sparkline [options]="options" [values]="values"></app-sparkline>
            </div>

            <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">
                    {{ total }}
                </span>
            </div>
        </div>
    </div>
</div>
