<div class="container-fluid bg-branco">
    <div class="row">
        <div class="col" role="main">
            <div class="error">
                <div class="error__text">
                    <h1 class="error__title">500</h1>
                    <h2 class="error__subtitle">Ops! Algo não saiu como o esperado.</h2>
                    <p>Talvez seja melhor você voltar para a Página Inicial</p>
                    <p><a class="btn ps-btn-primary" href="./index.html">Ir para Página Inicial</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
