<div class="peers ai-s fxw-nw h-100vh">
    <div class="peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv"
         style="background-image: url('/assets/images/bg.png')">

        <div class="bg-opacity"></div>
    </div>

    <div class="col-12 col-md-4 peer pX-40 h-100 bgc-white pos-r ps ps--active-y scrollable">
        <div>
            <div class="text-center mT-20">
                <img alt="Logo" class="logo-img" src="/assets/images/logo.png" width="200px">
            </div>

            <h4 class="fw-300 c-grey-900 mT-50 mB-60">
                Fill in the data below to register in the system.
            </h4>

            <form (submit)="sendRegisterForm()">

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-group-label">
                            <input type="text" name="name" value="" class="form-control" />
                            <label>Enter your name</label>
                            <div class="form-line"></div>
                            <!--<small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-group-label">
                            <input type="email" name="email" value="" class="form-control" />
                            <label>Enter your email</label>
                            <div class="form-line"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-group-label">
                            <div class="input-group">
                                <input type="password" name="password" class="form-control" />
                                <label>Enter your password</label>
                                <div class="input-group-prepend">
                                    <div class="input-group-text input-password">
                                        <i class="far fa-eye-slash fa-lg"></i>
                                    </div>
                                </div>
                                <div class="form-line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-group-label">
                            <div class="input-group">
                                <input type="password" name="password_confirmation" class="form-control" />
                                <label>Repeat your password</label>
                                <div class="input-group-prepend">
                                    <div class="input-group-text input-password">
                                        <i class="far fa-eye-slash fa-lg"></i>
                                    </div>
                                </div>
                                <div class="form-line"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="peers ai-c jc-sb fxw-nw">
                        <div class="peer"></div>
                        <div class="peer">
                            <button class="btn btn-primary text-uppercase">Register</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="mT-70">
                <ul class="list-inline text-center mB-20">
                    <li class="list-inline-item mX-20">
                        <a routerLink="/login" class="btn btn-outline-primary">Already have a registration? Login</a>
                    </li>
                </ul>

                <hr>

                <app-helpers-list></app-helpers-list>
            </div>
        </div>
    </div>
</div>
