<ul class="p-20 nav flex-column">
    <li class="nav-item">
        <a class="nav-link c-grey-800 cH-blue-500 active" routerLink="/emails/inbox">
            <div class="peers ai-c jc-sb">
                <div class="peer peer-greed">
                    <i class="mR-10 fa fa-envelope"></i>
                    <span>Inbox</span>
                </div>

                <div class="peer">
                    <span class="badge badge-pill bgc-deep-purple-50 c-deep-purple-700">+99</span>
                </div>
            </div>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link c-grey-800 cH-blue-500" href="" prevent-default>
            <div class="peers ai-c jc-sb">
                <div class="peer peer-greed">
                    <i class="mR-10 fa fa-share-square"></i>
                    <span>Sent</span>
                </div>

                <div class="peer">
                    <span class="badge badge-pill bgc-green-50 c-green-700">12</span>
                </div>
            </div>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link c-grey-800 cH-blue-500" href="" prevent-default>
            <div class="peers ai-c jc-sb">
                <div class="peer peer-greed">
                    <i class="mR-10 fa fa-star"></i>
                    <span>Important</span>
                </div>

                <div class="peer">
                    <span class="badge badge-pill bgc-blue-50 c-blue-700">3</span>
                </div>
            </div>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link c-grey-800 cH-blue-500" href="" prevent-default>
            <div class="peers ai-c jc-sb">
                <div class="peer peer-greed">
                    <i class="mR-10 fa fa-file"></i>
                    <span>Drafts</span>
                </div>

                <div class="peer">
                    <span class="badge badge-pill bgc-amber-50 c-amber-700">5</span>
                </div>
            </div>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link c-grey-800 cH-blue-500" href="" prevent-default>
            <div class="peers ai-c jc-sb">
                <div class="peer peer-greed">
                    <i class="fas fa-exclamation-triangle mR-10"></i>
                    <span>Spam</span>
                </div>

                <div class="peer">
                    <span class="badge badge-pill bgc-red-50 c-red-700">1</span>
                </div>
            </div>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link c-grey-800 cH-blue-500" href="" prevent-default>
            <div class="peers ai-c jc-sb">
                <div class="peer peer-greed">
                    <i class="mR-10 fa fa-trash-alt"></i>
                    <span>Trash</span>
                </div>

                <div class="peer">
                    <span class="badge badge-pill bgc-red-50 c-red-700">+99</span>
                </div>
            </div>
        </a>
    </li>
</ul>
