// Alert
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.alert {
    width: 100%;
    display: flex;
    padding: 10 px;

    &:before {
        font-family: FontAwesome;
        margin-right: 5px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    &--success {
        border: 1px solid $alert-success--color;
        border-left: 8px solid $alert-success--color;
        color: $alert-success--color;

        &:before {
            content: $alert-success--icon;
        }
    }

    &--danger {
        border: 1px solid $alert-danger--color;
        border-left: 8px solid $alert-danger--color;
        color: $alert-danger--color;

        &:before {
            content: $alert-danger--icon;
        }
    }

    &--warning {
        border: 1px solid $alert-warning--color;
        border-left: 8px solid $alert-warning--color;
        color: $alert-warning--color;

        &:before {
            content: $alert-warning--icon;
        }
    }

    &--info {
        border: 1px solid $alert-info--color;
        border-left: 8px solid $alert-info--color;
        color: $alert-info--color;

        &:before {
            content: $alert-info--icon;
        }
    }
}
