// ---------------------------------------------------------
// @Alerts
// ---------------------------------------------------------

// Colors
$alert-success--color: #9dbd5a;
$alert-danger--color: #e34546;
$alert-warning--color: #897831;
$alert-info--color: #00bcd4;
$alert-primary--color: #1a73e8;
$alert-secondary--color: #6c757d;
$alert-light--color: #fdfdfe;
$alert-dark--color: #343a40;
