// ---------------------------------------------------------
// @Alerts
// ---------------------------------------------------------

// Colors
$alert-success--color: #9dbd5a;
$alert-danger--color: #e34546;
$alert-warning--color: #897831;
$alert-info--color: #65bddc;

// Icons
$alert-success--icon: "\f00c";
$alert-danger--icon: "\f00d";
$alert-warning--icon: "\f12a";
$alert-info--icon: "\f129";
