<div class="container-fluid">
    <h4 class="c-grey-900 mT-10 mB-30">Google Maps</h4>

    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <h6 class="c-grey-900 mB-20">Google Maps</h6>
                <iframe
                    allowfullscreen
                    frameborder="0" height="600"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9119452.584969023!2d25.76551254630673!3d26.570764829302604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1554411259925!5m2!1spt-BR!2sbr"
                    style="border:0" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>
