<ul class="list-inline helpers-list text-center mY-30">
    <li class="list-inline-item">
        <a class="btn btn-link" data-target="#modal-help" data-toggle="modal" href="#" prevent-default>Help</a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-link" data-target="#modal-privacy" data-toggle="modal" href="#" prevent-default>Privacy</a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-link" data-target="#modal-terms-of-use" data-toggle="modal" href="#" prevent-default>Terms of
            use</a>
    </li>
</ul>

<app-modal-help></app-modal-help>
<app-modal-privacy></app-modal-privacy>
<app-modal-terms-of-use></app-modal-terms-of-use>
