<ul class="list-inline helpers-list text-center mT-30">
    <li class="list-inline-item">
        <a href="#" prevent-default data-toggle="modal" data-target="#modal-help" class="btn btn-link">Help</a>
    </li>
    <li class="list-inline-item">
        <a href="#" prevent-default data-toggle="modal" data-target="#modal-privacy" class="btn btn-link">Privacy</a>
    </li>
    <li class="list-inline-item">
        <a href="#" prevent-default data-toggle="modal" data-target="#modal-terms-of-use" class="btn btn-link">Terms of use</a>
    </li>
</ul>

<app-modal-help></app-modal-help>
<app-modal-privacy></app-modal-privacy>
<app-modal-terms-of-use></app-modal-terms-of-use>
