<div class="row gap-20 pos-r">
    <div class="col-md-6"></div>

    <div class=" w-100">
        <div class="row gap-20">
            <div class='col-md-3'>
                <app-total-visits></app-total-visits>
            </div>

            <div class='col-md-3'>
                <app-total-page-views></app-total-page-views>
            </div>

            <div class='col-md-3'>
                <app-unique-visitors></app-unique-visitors>
            </div>

            <div class='col-md-3'>
                <app-bounce-rate></app-bounce-rate>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <app-todo-list></app-todo-list>
    </div>

    <div class="col-md-6">
        <app-sales-report></app-sales-report>
    </div>
</div>
